@font-face {
    font-family: "Butler";
    src: url('../fonts/Butlerlight.woff2') format('woff2'),
    url('../fonts/Butlerlight.woff') format('woff'),
    url('../fonts/Butlerlight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-box {
    background-color: rgb(255, 255, 255);
    width: 557px;
    height: 355px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 165px;
    position: absolute;
}

.main-page-img {
    width: 1065px;
    height: 630px;
    left: 187px;
    top: 135px;
}

.main-page-title {
    font-family: "Butler";
    font-weight: 300;
    font-size: 87px;
    line-height: 104px;
    text-align: center;
    color: #000;
}

.main-page-description {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 20px;
    text-align: center;
    color: #000000;
}
