@font-face {
    font-family: "Butler";
    src: local("Butler"),
         url('../fonts/Butlerlight.woff2') format('woff2'),
         url('../fonts/Butlerlight.woff') format('woff'),
         url('../fonts/Butlerlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    display: block;
    padding: 20px;
    position: relative;
}

.main-page-box {
    background-color: rgb(255, 255, 255);
    width: 557px;
    height: 355px;
    padding-top: 120px;
    padding-bottom: 165px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.main-page-img {
    height: auto;
    text-align: center;
}

.main-page-title {
    font-family: "Butler", sans-serif;
    font-weight: 300;
    font-size: 87px;
    line-height: 104px;
    text-align: center;
    color: #000;
}

.main-page-description {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 20px;
    text-align: center;
    color: #000000;
}
